<ion-view title="Bônus" id="page9" style="background-color:#1056C5;">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <button id="bNus-button37" style="color:#FFFFFF;" class="button button-stable  button-block button-outline">Valor Pago R$</button>
            <button id="bNus-button38" class="button button-light  button-block button-outline">Bônus R$</button>
        </div>
        <div class="button-bar">
            <button id="bNus-button41" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light button-large button-block">200,00</button>
            <button id="bNus-button40" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light  button-block">80,00</button>
        </div>
        <div class="button-bar">
            <button id="bNus-button49" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light button-large button-block">500,00</button>
            <button id="bNus-button50" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light  button-block">200,00</button>
        </div>
        <div class="button-bar">
            <button id="bNus-button51" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light button-large button-block">1.000,00</button>
            <button id="bNus-button52" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light  button-block">400,00</button>
        </div>
        <div class="button-bar">
            <button id="bNus-button53" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light button-large button-block">5.000,00</button>
            <button id="bNus-button54" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light  button-block">2.000,00</button>
        </div>
        <div class="button-bar">
            <button id="bNus-button55" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light button-large button-block">10.000,00</button>
            <button id="bNus-button56" style="font-weight:lighter;color:#000000;border-radius:4px 4px 4px 4px;" class="button button-light  button-block">4.000,00</button>
        </div>
    </ion-content>
</ion-view>