<ion-view title="Cartão" id="page7" style="background-color:#1056C5;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Número Cartão</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 286.4px; height: 20px;"></div>
            <label class="item item-input">
                <span class="input-label">Agencia</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 286.4px; height: 20px;"></div>
            <label class="item item-input">
                <span class="input-label">Data Vencimento</span>
                <input type="date" placeholder="">
            </label>
            <div class="spacer" style="width: 286.4px; height: 20px;"></div>
        </form>
    </ion-content>
</ion-view>