<ion-view title="Compras" id="page8" style="background-color:#1056C5;">
    <ion-content padding="true" class="has-header">
        <div>
            <div>
                <table border="40px" bgcolor="orange" width="100%">
                    <tbody>
                        <tr aling="center">
                            <td>
                                <font size="4">Data</font>
                            </td>
                            <td></td>
                            <td aling="cente">
                                <font size="4">Produto</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="spacer" style="width: 281.111px; height: 10px;"></div>
        <div>
            <div>
                <table border="40px" bgcolor="#fff" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <font size="4">28/06/2015</font>
                            </td>
                            <td></td>
                            <td aling="cente">
                                <font size="4">Computador</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="spacer" style="width: 281.111px; height: 10px;"></div>
        <div>
            <div>
                <table border="40px" bgcolor="#fff" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <font size="4">31/10/2015</font>
                            </td>
                            <td></td>
                            <td aling="Left">
                                <font size="4">Roupas</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="spacer" style="width: 281.111px; height: 10px;"></div>
        <div>
            <div>
                <table border="40px" bgcolor="#fff" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <font size="4">13/12/2015</font>
                            </td>
                            <td></td>
                            <td aling="cente">
                                <font size="4">longitech - G27</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="spacer" style="width: 281.111px; height: 10px;"></div>
        <div>
            <div>
                <table border="40px" bgcolor="#fff" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <font size="4">15/01/2016</font>
                            </td>
                            <td></td>
                            <td aling="cente">
                                <font size="4">Xbox one</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="spacer" style="width: 281.111px; height: 10px;"></div>
        <div>
            <div>
                <table border="40px" bgcolor="#fff" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <font size="4">26/02/2016</font>
                            </td>
                            <td></td>
                            <td aling="cente">
                                <font size="4">Pizza -</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="spacer" style="width: 281.111px; height: 10px;"></div>
        <div>
            <div>
                <table border="40px" bgcolor="#fff" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <font size="4">26/03/2016

                                </font>
                            </td>
                            <td></td>
                            <td aling="cente">
                                <font size="4">Jantar -</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>