<ion-view title="Login" id="page2" style="background-color:#1056C5;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div style="text-align:center;">
                <img src="img/3RH2TL3STEiSWF1IuRRl_logo.png" width="100%" height="auto">
            </div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="page" id="login-button1" class="button button-stable  button-block">Log in</a>
            <a ui-sref="signup" id="login-button4" class="button button-positive  button-block">Criar conta</a>
        </form>
    </ion-content>
</ion-view>